// PWR STUDIO
@mixin meyer-reset {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  // HTML5 display-role reset for older browsers
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote {
    &:before,
    &:after {
      content: "";
      content: none;
    }
  }
  q {
    &:before,
    &:after {
      content: "";
      content: none;
    }
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}

@include meyer-reset;
// * * * * * * * *
// MAIN 
// * * * * * * * *
// * * * * * * * *
// VARIABLES
// * * * * * * * *
$font-size: 14px;
$base-line: 18px;
$margin: 50px;
$main-color: #000;
$background-color: #fff;
$link-color: #379BFF;
$hover-color: #00f;
// * * * * * * * *
// BASICS
// * * * * * * * *
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $font-size;
  line-height: $base-line;
  color: $main-color;
  background: $background-color;
}

nav,
img {
  user-select: none;
}

a,
a:active,
a:visited {
  color: $link-color;
  outline: none;
  text-decoration: none;
}

a:hover {
  color: $hover-color;
  outline: none;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.caption {
  bottom: $base-line + 10px;
  z-index: 1000;
  left: $margin;
  position: fixed;
}

.image-container {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  img {
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: visible;
    display: none;
  }
}

.shown {
  display: block !important;
}

.about-container {
  column-count: 4;
  column-gap: $base-line;
  margin-top: 2 * $base-line;
  margin-bottom: 2 * $base-line;
  float: left;
  width: 100%;
  min-height: 50%;
  min-height: 50vh;
  max-height: 80%;
  max-height: 80vh;
  p {
    display: inline-block;
    break-after: always;
    break-inside: avoid;
    margin-bottom: $base-line;
    max-width: 20em;
  }
}

p {
  break-inside: avoid;
  margin-bottom: $base-line;
  max-width: 35em;
}

.menu-item {
  display: block;
}

.intro-image-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
}

.nav-overlay {
  height: 100%;
  top: 0;
  position: absolute;
  width: 50%;
  z-index: 100;
  background: none;
}

.previous {
  left: 0%;
  //  cursor: url('img/left.png'), w-resize;
  cursor: w-resize;
}

.next {
  left: 50%;
  //  cursor: url('img/right.png'), e-resize;
  cursor: e-resize;
}

header {
  position: fixed;
  z-index: 1000;
  margin: $margin;
  width: calc(100% - 100px);
}

.inner-header {
  display: inline-block;
  margin-bottom: 2 * $base-line;
  width: 100%;
}

.container-menu {
  margin: $margin;
  width: calc(100% - 100px);
}

.project-menu {
  margin-bottom: $base-line;
}

.left {
  float: left;
}

.right {
  float: right;
}

.no-show {
  height: 0;
  width: 0;
  visibility: hidden;
}

//MOBILE PHONE
@media only screen and (max-width: 768px) {
  body {
    line-height: 1.3 * $base-line;
  }
  .container-fluid {
    padding-left: $base-line;
  }
  .about-container {
    column-count: 1;
  }
  .image-container {
    img {
      max-height: 80%;
      max-width: 100%;
    }
  }
  .about-caption {
    margin-top: 2 * $base-line;
    position: static;
    left: 0;
  }
  .nav-container {
    left: $base-line;
  }
  .main-menu {
    top: $base-line;
  }
  .previous {
    display: none;
  }
  .next {
    left: 0%;
    width: 100%;
    cursor: e-resize;
  }
  .right {
    float: left;
    width: 100%;
  }
  .left {
    display: block;
    width: 100%;
  }
  .caption {
    left: $margin / 2;
  }
  .caption-mobile {
    position: static;
    display: block;
    margin-top: 2 * $base-line;
  }
  header {
    margin: $margin / 2;
    position: absolute;
  }
  .container-menu {
    margin: $margin / 2;
    width: calc(100% - 50px);
  }
}